<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="SampleAppSetup" Language="1033" Version="1.0.0.0" Manufacturer="SwinburneStudent" UpgradeCode="99d640d5-a844-4d73-9f9d-30db34faa360">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="SampleAppSetup" Level="1">
			<ComponentGroupRef Id="MainExecutable" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="SampleApp" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="MainExecutable" Directory="INSTALLFOLDER">
			<Component Id="MainExecutable" Guid="99d640d5-a844-4d73-9f9d-30db34faa360">
				<File Id="SampleAppEXE" Source="$(var.SampleApp.TargetPath)" KeyPath="yes"/>
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
